* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "popins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar-links {
  display: flex;
  column-gap: 20px;
}
.navbar-links :hover {
  color: black;
}
.navbar-links a {
  text-decoration: none;
  color: gray;
}
.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-menu-toggle {
  display: none;
}

.image1 {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}
.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}
.header-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: #1d232c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.service {
  padding: 20px;
}
.service-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.service-container-2 div {
  background-color: #f2f4f7;
  border-radius: 5px;
  padding: 10px;
}
.image2 {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.new-arrival {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 25px;
}
.new-arrival-container {
  position: relative;
  flex-basis: 20%;
}
.new-arrival button {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  color: #1d232c;
  position: absolute;
  top: 70%;
  left: 18%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.news input {
  padding: 11px;
  width: 80vw;
  margin-bottom: 10px;
  border: solid black 3px;
}
.news button {
  margin-top: 10px;
  color: #f2f4f7;
  background-color: #1d232c;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.footer {
  margin-top: 20px;
  padding: 40px;
  background-color: #1d232c;
  color: white;
}
.image3 {
  height: 200px;
  width: 200px;
}
.product-section {
  margin-top: 20px;
}
.product-search {
  width: 80%;
  border: solid black 2px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  align-items: center;
}
.product-search input {
  border: none;
  background-color: transparent;
  width: 100%;
}
.product-search input:focus {
  outline: none;
}
.products {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-box {
  text-align: center;
  flex-basis: 20%;
}
.product-box img {
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .navbar-menu-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
  }
  .service-container-1 {
    display: none;
  }
  .service-container-2 {
    flex-direction: column;
  }
}
.contact {
  background-color: #1d232c;
  text-align: center;
  padding: 50px;
  width: 60%;
  margin-left: 200px;
  margin-top: 10px;
  height: 400px;
  border-radius: 10px;
}
.contact-us {
  color: white;
}
.details {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  left: 20px;
}
.details input {
  padding-right: 300%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  display: flex;
}
.name {
  margin-right: 80px;
}
.Message-box input {
  padding-bottom: 150px;
}
.Message-box {
  margin-top: 20px;
}
.email {
  margin-top: 15px;
}
